<div class="footer-pages">
    <div class="container">
       <div class="page-title">
          <h2> We Are MomsKart </h2>
       </div>

       <div class="row">
          <div class="col-lg-6">

            <div class="image">
               <h4 style="color: white;">DISCOVER INDIA’S FINEST FOODS
                 </h4>
                 <p class="half" style="color: white">Momskart is an Ecommerce marketplace that enable women to sell non perishable homemade food products . 
                  Thus  making food as a means of retaining the cultural identity of different regions of India.
                  Momskart partners with the womens froms different cultures and origins make a quality check and allows them to 
                  sell Handmade cultural edible food products . Momskart had partnered with 500+ mom's across india with 1000+ unique cultural 
                  edible food products.   

               </p>    
     
            </div>
          </div>
          <div class="col-lg-6">
            <div class=" text-center">
               <img src="assets/about1.jpg" class="imgabout" alt="">
             </div>
         </div>
       </div>

       <br><br><br>
       <div class="row">
          <div class="col-lg-6">
            <h4>Our Goals</h4>

            <p>
               It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
               The point of using Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus ratione labore ipsum, dolores porro reprehenderit saepe maxime atque laborum.

            </p>
 
          </div>
          <div class="col-lg-6">
             <img src="assets/about3.jpeg" alt="" class="img-fluid">
          </div>
       </div>
    
      
          <br><br>
           <h4> MAKE A DIFFERENCE</h4>

           <p>
           
When you buy from us, you support many small family-run businesses somewhere in India. That’s the power of your purchase on PlaceofOrigin.in. Join us in our endeavor to keep alive the traditions, culinary secrets, small businesses and flavours of India.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
           </p>
          </div>
</div>
