<div class="footer-pages">
      <div class="container">
         <div class="page-title">
            <h2>Our Policies</h2>
         </div>
         
          <p>We firmly believe in helping our customers as far as possible, and therefore have a liberal customer policy.
          <Br><Br>
            RESOLUTION OF CONCERNS <Br><Br>

            Please email any concern to  heymomskart@gmail.com <Br><Br>
            
            If the concern is regarding the taste/quality/ingredients of the food product, we will refer the issue to the concerned producer and make suitable efforts to help resolve the complaint.
            If you think you have received the food items in an unsatisfactory condition or if the packaging is tampered with or damaged before delivery, please email us at heymomskart@gmail.com with your Order Number & relevant photographic evidence within 24 hours of the package being delivered to you/your address. <Br>
            We will share the pictures of the shipment and individual pictures of the boxes with the Food Vendors and the courier partner for resolution. If the claim is genuine as found by us, the Food Vendor and the Courier Partner, we will issue a coupon code for the amount pertaining to the unsatisfactory shipment. You can utilise the coupon code for subsequent purchases on the website. The coupon code cannot be encashed or refunded. 
            If unfortunately you have to cancel an order, please email us at heymomskart@gmail.com . </p>
  
             <h4>Note:</h4>
  
             <p>
               If you cancel your order before your food items have been shipped, we will refund the entire amount. However, once the order has been shipped (that is, it has been produced by the vendor and handed over to the delivery agent), we will not be in a position to address any cancellation requests. You will be appreciate that these are speciality food products and the loss of shelf life/transit damage will render them unsuitable for reuse/resale and hence we cannot accept cancellation or return of shipments. Only in case of valid cancellation requests, the refund for the same will be made in the same method that the payment is received, within 10 working days from the date of cancellation of order.            
               If we suspect any fraudulent transaction by any customer or any transaction which defies the terms & conditions of using the website, we at our sole discretion could cancel such orders. We will maintain a negative list of all fraudulent transactions and customers and would deny access to them or cancel any orders placed by them.
               All images on the website are for representative purpose. Due to change in seasons and temperature, raw materials used and method of cooking and photographic light, the end product might vary slightly.
             </p>
  
            
            </div>
  </div>
  